@font-face {
  font-family: "ConfigCondensed";
  src: url("fonts/ConfigCondensed-Regular.woff") format("woff"),
    url("fonts/ConfigCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ConfigCondensed";
  font-style: italic;
  src: url("fonts/ConfigCondensed-Italic.woff") format("woff"),
    url("fonts/ConfigCondensed-Italic.ttf") format("truetype");
}

/*
 * Globals
 */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f4f1;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 14pt;
  font-family: "ConfigCondensed", Fallback, sans-serif;
}

#main-columns {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
}

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

h1 {
  font-size: 30pt;
  font-family: "Noto Serif", serif;
  line-height: 90%;
  font-weight: bold;
}

.circle-border {
  border: 1px solid #000;
  border-radius: 50px;
}

.circle,
.small-circle {
  border-radius: 50%;
  display: inline-block;
}

.circle {
  border: 2px solid #8400ff;
  height: 10px;
  width: 10px;
}

.small-circle {
  height: 5px;
  width: 5px;
  margin-bottom: 3px;
  border: 1px solid #8400ff;
}

.circle-selected {
  background-color: #8400ff;
}

/*
 * Main
 */
.category {
  display: flex;
  flex-direction: column;
}

.category > a {
  flex: 1 1 0;
  display: inline-block;
  position: relative;
  justify-content: center;
}

.category p {
  margin: 0;
}

.category-img > * {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.svg-stroke {
  fill: none;
  stroke: #1d1d1b;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.svg-stroke:first-child {
  stroke-width: 4px;
}

#player-info .svg-stroke:first-child {
  visibility: hidden;
}

#web-player {
  display: flex;
  flex-direction: column;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0;
  margin-right: 15px;
}

#web-player h5 {
  margin-top: 20px;
}

#web-player .row {
  margin: 0;
}

#web-player img {
  width: 100%;
  max-height: 300px;
}

#web-player p {
  width: 100%;
}

#web-player hr {
  width: 100%;
  border-color: #8400ff;
  margin: 10px auto;
}

#web-player.animation-show {
  position: relative;
}

#web-player.animation-hide {
  position: absolute;
  right: -350px;
}

#player-info {
  padding: 0;
  justify-content: center;
}

#player-img {
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-width: thin;
}

#player-info h5 {
  width: 100%;
  font-weight: bold;
}

#song-info {
  padding: 15px;
  border: 1px solid lightgrey;
  font-style: italic;
}

#song-info-buttons {
  width: 100%;
  height: 50px;
}

#song-info-buttons > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}

#song-info-buttons img {
  max-height: 100%;
  width: auto;
}

#song-name {
  margin: 10px 0 0 0;
  text-align: center;
}

.small-p,
.small-p p {
  font-size: 12pt;
  margin-bottom: 0;
}

#reproduce-desktop {
  display: none;
}

/*
 * Archivo
 */
#archivo-grid {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: relative;
  padding: 1rem;
  text-align: left;
  align-content: space-between;
}

#archivo-grid > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

main hr {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid black;
}

.aside-text {
  max-width: 15px;
  letter-spacing: 5px;
  word-wrap: break-word;
  text-align: center;
  line-height: 100%;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column-between,
.flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-column-around {
  justify-content: space-around;
}

.sm-btn-img img {
  width: 30px;
}

/*
 * Responsive design
 */
/* Tablets */
@media (max-width: 1024px) {
  #song-info-buttons {
    height: unset;
    flex-wrap: wrap;
  }
  #song-info-buttons img {
    width: 100%;
  }
  #archivo-grid > * {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  #web-player {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 20pt;
  }
  #main-columns {
    padding: 0;
  }
  .row-cols-3 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #song-info-buttons > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 5%;
  }
  #song-info-buttons > *:nth-child(2),
  #song-info-buttons > *:nth-child(3) {
    order: 2;
  }
}

/* Phones */
@media (max-width: 480px) {
  h1 {
    font-size: 20pt;
    margin-bottom: 0;
    padding-left: 1rem;
  }
  #reproduce-desktop {
    display: block;
    padding-left: 1rem;
    font-size: 10pt;
  }
  #main-columns {
    flex-direction: column;
  }
  .col {
    padding: 0;
  }
  .col-1 {
    max-width: none;
  }
  #archivo-grid {
    padding: 0;
  }
  .small-p,
  .small-p p {
    font-size: 8pt;
  }
  #web-player {
    display: none;
  }
}
