/*
 * Globals
 */

html,
body {
  height: 100%;
  background-color: #f7f4f1;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 12pt;
}

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

h1 {
  font-size: 30pt;
  font-family: "Noto Serif", serif;
  line-height: 90%;
  font-weight: bold;
}

.circle-border {
  border: 1px solid #000;
  border-radius: 50px;
}

.circle,
.small-circle {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  height: 10px;
  width: 10px;
}

.small-circle {
  height: 5px;
  width: 5px;
  margin-bottom: 3px;
}

.circle-selected {
  background-color: #8f00bd;
}

/*
 * Main
 */
.category {
  display: flex;
  flex-direction: column;
}

.category > a {
  flex: 1 1 0;
  display: inline-block;
  position: relative;
  justify-content: center;
}

.category p {
  margin: 0;
}

.category-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#web-player {
  max-width: 22%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  justify-content: space-between;
}

#web-player h5 {
  margin-top: 20px;
}

#web-player > .row {
  padding: 15px;
  margin-bottom: 50px;
}

#web-player img {
  width: 100%;
  max-height: 300px;
}

#web-player p {
  width: 100%;
}

#web-player hr {
  width: 50%;
  margin: 10px auto;
}

#web-player.animation-show {
  position: relative;
}

#web-player.animation-hide {
  position: absolute;
  right: -350px;
}

#player-info {
  padding: 10px 30px;
  justify-content: center;
}

#player-info img {
  height: 300px;
  object-fit: cover;

  border-width: thin;
  border-color: black;
  border-style: solid;
}

#player-info h5 {
  width: 100%;
}

#song-info {
  font-style: italic;
  border: 1px solid lightgrey;
}

#song-info img {
  max-width: 35px;
}

#song-name {
  margin: 10px 0 0 0;
  text-align: center;
}

.small-p {
  font-size: 9pt;
  margin-bottom: 0;
}

/*
 * Archivo
 */
/*
#archivo {}
*/

.aside-text {
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 5px;
  margin-top: 3em;
}

/*
 * Responsive design
 */
@media (min-width: 1500px) {
  #web-player {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
